language: node_js
node_js:
- 10
branches:
  only:
  - master
  - /^greenkeeper/.*$/

install:
- npm install

script:
- cd server
- npm run eslint
- npm test

notifications:
  email:
    on_success: change
    on_failure: always
    recipients:
    - me@michaelkohler.info
